@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
   font-family: 'Kumbh Sans', sans-serif;
   -webkit-tap-highlight-color: transparent;
   
}
:root{
    --Orange: hsl(26, 100%, 55%);
--Paleorange: hsl(25, 100%, 94%);
--Verydarkblue: hsl(220, 13%, 13%);
--Darkgrayishblue: hsl(219, 9%, 45%);
--Grayishblue: hsl(220, 14%, 75%);
--Lightgrayishblue: hsl(223, 64%, 98%);
--White: hsl(0, 0%, 100%);
--Black/* (with 75% opacity for lightbox background) */: hsl(0, 0%, 0%);
}

/* Slide styles here */
.swiper {
  width: 100%;
  height: 40vh;
}
.swiper-slide img{
    width: 100%;
    height: fit-content;
}
.swiper .swiper-button-prev{
    font-size: 25px;
}

.container{
    background-color: var(--White);
    /* height: 100vh; */
    width: 100%;
    position: relative;
}
.container .active{
    background-color: var(--Orange);
}
 header .navigation{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .6rem;
    cursor: pointer;
    position: fixed;
    background-color: var(--White);
    z-index: 8; /* Remove  here */
    transition: all .3s;
}
.navigation.show{
    background-color: var(--Lightgrayishblue);
    padding: 1rem;
    transition: .5s ease-in-out;

}
header .icons{
    display: flex;
    justify-content: space-around;
    position: relative;

}
header .icons img{
    width: 25px;
    height: 25px;
}
header .icons img:last-child{
    border:2px solid var(--Orange);
    border-radius: 50%;
    margin-left: 3rem;
}
.logo{
    margin-left:30px;
}
.hamburger{
    position: absolute;
    left: 0;
    margin: 5px 0 0 10px;
    width: 50px;
    cursor: pointer;
}
.menu-close{
    position: absolute;
    top: 12px;
    cursor: pointer;
}
.desk-img{
    visibility: hidden;
    display: none;
}
.nav-links{
    display: none;
}
.active{
    display: block;
}
.nav-links ul{
    margin-top: 1rem;
    background-color: var(--White);
    height: 100vh;
    width: 60%;
    padding: 5rem 7rem 12rem 1rem;
    box-shadow: 12px 4px 20px rgb(227, 220, 220);
    position: absolute;
    left: 0;
    top: -18px;
    z-index: 1000;
}
.nav-links ul li{
        font-size: 18px;
        list-style: none;
        margin-bottom: 1.6rem;
        font-weight: 700;
    }

.content .text{
    margin-top: 1rem;
    padding: 1rem;
}
.content .text h4{
    margin-bottom: 7px;
    color: var(--Orange);
    font-weight: 700;
    font-size: 13px; 
    letter-spacing: .1rem; 
}
.content .text h2{
    color: var(--Black);
    margin-bottom: 1rem;
    font-weight: 700;
    font-size: 30px;
    width: 300px;
}
.content .text p{
    width: 350px;
   max-width: 100%;
    font-size: 1rem;
    line-height: 1.5rem;
    color: var(--Darkgrayishblue);
}
.content .price{
padding: 1rem;
display: flex;
justify-content: space-between;
}
.price .value{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
}
.value .amount{
    color: var(--Black);
    font-weight: 700;
    font-size: 25px;
}
.value .percent{
    color: var(--Orange);
    font-weight: 700;
    background-color: var(--Paleorange);
    width: fit-content;
    height: fit-content;
    text-align: center;
    padding: 5px 10px;
    border-radius: 7px;
}
.price .discount{
text-decoration: line-through;
color: var(--Grayishblue);
    padding: 5px 10px;
}
.icons #num{
  position: absolute;
  right: 60px;
  background-color: var(--Orange);
  color: var(--White);
  border-radius: 15px;
  padding: 1px 11px;
  font-size: x-small;
visibility: hidden;
}

.content .cart-value{
    padding: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: var(--Lightgrayishblue);
    border-radius: 10px;
    margin: 1rem 0;
    cursor: pointer;
}
.cart-value .zero{
    font-weight: 700;
}

.content .add-to-cart{
    text-align: center;
    width: 100%;
    background-color: var(--Orange);
    color: var(--White);
    padding: 1rem;
    border-radius: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: .6s ease-in-out;
}
.content .add-to-cart:active{
  background-color: var(--White);
}

.add-to-cart img{
    margin-right: 1rem;
}
.pad{
    padding: 1rem;
}

.cart-empty{
    background-color: var(--White);
    width: 95%;
    height: 30vh;
    position: absolute;
    z-index: 800;
    border-radius: 12px;
    top: 55px;
    box-shadow: 5px 10px 18px 8px rgba(225, 225, 225, .75);
    visibility: hidden;
}
.cart-empty.empty{
     visibility: visible;
    }
.cart-empty h4{
    padding: .7rem;
        font-weight: 700;
        border-bottom: 2px solid rgba(225, 225, 225, .75);
        width: 100%;
}
.cart-empty p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20vh;
    color: var(--Darkgrayishblue);
    font-weight: 700;
}
.cart-filled {
    background-color: var(--White);
        width: 95%;
        height: auto;
        position: absolute;
        z-index: 800;
        border-radius: 12px;
        top: 55px;
        padding: 1rem;
    box-shadow: 5px 10px 18px 8px rgba(225, 225, 225, .75);
        visibility: hidden;
}
.cart-filled.filled {
    visibility: visible;
}
 .cart-filled h4{
    font-weight: 700;
   border-bottom: 2px solid rgba(225, 225, 225, .75);
   margin-bottom: 1.6rem;
   padding: .7rem;
 }
.cart-filled .products{
    display: flex;
    width: 100%;
  
}
.cart-filled img{
    width: 50px;
    height: 50px;
    border-radius: 5px;
    margin-right: 9px;
}
.cart-filled .checkout{
    color: var(--White);
    background-color: var(--Orange);
    padding: 1.2rem .5rem;
    border-radius: 12px;
    text-align: center;
    font-weight: 700;
}
.cart-filled .delete{
    position: absolute;
    top: 6rem;
    right: 0;
    width: 15px;
    height: 20px;

}
.cart-filled .text{
    margin-bottom: 2rem;
    margin-left: 10px;
}
.cart-filled .text h5{
    color: var(--Grayishblue);
    margin-bottom: 0.7rem;
}
.cart-filled .text p{
    color: var(--Grayishblue);
}
.cart-filled .text span{
    color: var(--Black);
    font-weight: 700;
    margin-left: 0.5rem;
}











